.ExternalLink {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  border-radius: 5px;
  cursor: pointer;

  font-size: 40px;
  color: var(--black);

  display: flex;
  align-items: center;
  gap: 30px;

  transition: all 0.5s ease-in;
}

.ExternalLink:hover {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 29px 0px;
}

.ExternalLink > p {
  font-size: 25px;
  color: black;
}
