.ExternalLinks {
  background-color: var(--black);
  padding: 20px 0;
}

.ExternalLinks .external-links-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1400px;
  margin: 0 auto;
}

.ExternalLinks .external-links-container .external-link-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}
