.SkillItem {
  display: flex;
  align-items: center;
}

.SkillItem .skill-field {
  font-size: 40px;
  color: rgba(100, 100, 100, 0.8);
  width: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.SkillItem .skill-list {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
