.Skills {
  background-color: var(--yellow);
  padding: 20px 0;
}

.Skills .skills-container {
  width: 1400px;
  margin: 0 auto;
}

.Skills .skills-container .skill-info-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 20px 0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}
