@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

:root {
  --blue: #243f4d;
  --orange: #fe802c;
  --yellow: #fcc949;
  --light-green: #a2c182;
  --green: #589c87;
  --ivory: #f7f5cc;
  --black: #222222;
  --white: #f5f5f5;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dl,
dt,
dd {
  margin: 0;
}

body * {
  font-family: "Do Hyeon", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
